In [65]:
import csv
import pandas as pd

pwd

In [9]:
data = pd.read_csv(r"C:\\Users\ms811\\Desktop\\groceryhub\\groceryhub.csv", encoding="ISO-8859-1")
data.head()

,product_id,product_name,product_description,product_currentprice,product_discount,product_actualprice,product_category,product_image,product_manufacturer,inventory,store_zipcode,rating
0,1,Sunflower Seed Raw,Carroway Seed,242.47,9,442,food,images/food/1.png,Aufderhar-Schoen,73,60601,5
1,2,Sauce - Salsa,Lamb - Sausage Casings,96.20,2,486,food,images/food/2.jpg,Durgan and Sons,9,41687,5
2,4,Motts Apple Juice,Fresh Juice,151.89,9,282,food,images/food/4.jpg,D'Amore LLC,85,60235,5
3,5,"Trout - Rainbow, Fresh",Sun - Dried Tomatoes,264.25,9,438,food,images/food/5.jpg,Treutel-Baumbach,53,85236,5
4,6,Lamb - Rack,Compound - Orange,103.54,1,314,food,images/food/6.webp,Braun-Hansen,56,49652,5

In [10]:
data = pd.read_csv(r"C:\\Users\ms811\\Desktop\\groceryhub\\groceryhub.csv", encoding="ISO-8859-1")
data.tail()

,product_id,product_name,product_description,product_currentprice,product_discount,product_actualprice,product_category,product_image,product_manufacturer,inventory,store_zipcode,rating
137,141,Seventh Generation,Kitchen Cleaner,70.00,10,63,household,/images/household/26.jpg,Welch-Sporer,40,75632,5
138,142,Oxiclean,Washingmachine Cleaner,12.00,0,12,household,/images/household/27.jpg,Hills-Sauer,77,15489,5
139,143,Simple Green,Industrial Cleaner,10.00,0,10,household,/images/household/28.jpg,Mante-Spinka,23,95478,5
140,144,Windex,Window Cleaner,5.00,5,5,household,/images/household/29.jpg,"Pagac, Walsh and Friesen",77,84268,5
141,146,Sunflower Seed Raw,Carroway Seed,241.47,9,441,food,images/food/1.png,Aufderhar-Schoen,73,60616,5

In [6]:
data = pd.read_csv(r"C:\\Users\\ms811\\Desktop\\groceryhub\\customerorders.csv",encoding="ISO-8859-1")
data.head()

,userId,customerName,email,userAddress,creditCardNo,discount,orderId,orderTime,shippingDate,orderName,category,orderPrice,storeId,storeAddress,zipcode,deliveredOnTime,transactionStatus,review
0,839,Sainath Macharla,asdfgh@qwerty.com,"2951 S King Drive, Chicago, IL, 60616",1234567890,8.0,33,2020-12-03,2020-12-17,Bar Special K,food,104.80,homedelivery,homedelivery,60616,Yes,Disputed,1
1,77,Sainath Macharla,ms811@live.com,"2951 S King Drive, Chicago, IL, 60616",1234567890,2.0,24,2020-12-03,2020-12-17,Petite Baguette,food,122.17,homedelivery,homedelivery,60616,No,Disputed,3
2,305,Usain Bolt,wsdth@fewaq.com,"9867 Dartmouth, Austin, Texas, 78702",1234567891,2.0,25,2020-12-03,2020-12-17,Gatorade,beverages,20.69,homedelivery,homedelivery,78702,No,Approved,2
3,305,Usain Bolt,wsdth@fewaq.com,"9867 Dartmouth, Austin, Texas, 78702",1234567891,0.0,25,2020-12-03,2020-12-17,Runa,beverages,73.35,homedelivery,homedelivery,78702,No,Approved,2
4,305,Usain Bolt,wsdth@fewaq.com,"9867 Dartmouth, Austin, Texas, 78702",1234567891,9.0,25,2020-12-03,2020-12-17,Gherkin,food,32.76,homedelivery,homedelivery,78702,No,Approved,2

In [8]:
data = pd.read_csv(r"C:\\Users\\ms811\\Desktop\\groceryhub\\customerorders.csv",encoding="ISO-8859-1")
data.tail()

,userId,customerName,email,userAddress,creditCardNo,discount,orderId,orderTime,shippingDate,orderName,category,orderPrice,storeId,storeAddress,zipcode,deliveredOnTime,transactionStatus,review
44,146,Lance Armstrong,irtyfh@lkshs.com,"301 Ulter, Cheyenne, Wyoming, 82002",2254301681,7.0,30,2020-12-03,2020-12-17,Pureleaf,beverages,152.89,homedelivery,homedelivery,82002,No,Approved,1
45,146,Lance Armstrong,irtyfh@lkshs.com,"301 Ulter, Cheyenne, Wyoming, 82002",2254301681,2.0,30,2020-12-03,2020-12-17,Sauce - Salsa,food,96.20,homedelivery,homedelivery,82002,No,Approved,1
46,94,Kristen Stewart,igfmgh@hajd.com,"95 Wendell, Bismarck, N Dakota, 58505",4169032478,8.0,13,2020-12-03,2020-12-17,Steampan - Foil,food,115.69,homedelivery,homedelivery,58505,Yes,Disputed,3
47,367,Peter Parker,lhhske@hasgej.com,"20 Ingram, New York, New York, 11375",5230162784,5.0,35,2020-12-03,2020-12-17,Rockstar,beverages,118.08,homedelivery,homedelivery,11375,Yes,Approved,1
48,367,Peter Parker,lhhske@hasgej.com,"20 Ingram, New York, New York, 11375",5230162784,5.0,35,2020-12-03,2020-12-17,Spellagrino,beverages,187.82,homedelivery,homedelivery,11375,Yes,Approved,1

In [66]:
import pandas as pd
from neo4j import GraphDatabase

In [67]:
# Creating Product Nodes

driver = GraphDatabase.driver("bolt://localhost", auth=("neo4j", "csp584"))
data = pd.read_csv("C:\\Users\\ms811\\Desktop\\groceryhub\\groceryhub.csv", encoding="ISO-8859-1")

data_category_range = data['product_name'].unique()
data_category_range = data_category_range.tolist()

for i,value in enumerate(data_category_range):
    data[data['product_name'] == value].to_csv(r'product_name_'+str(value)+r'.csv',index = False, na_rep = 'N/A')
print(data)

with driver.session() as session:
    deleteproducts = """ MATCH (n:Product) DETACH DELETE n """
    session.run(deleteproducts)
    
    cqlCreate = """ CREATE (p1:Product { Id:$Id, name:$name, productDescription:$productDescription, productCurrentPrice: $productCurrentPrice, productDiscount:$productDiscount, productActualPrice:$productActualPrice, productCategory:$productCategory, productManufacturer:$productManufacturer, productInventory:$productInventory, storeZipCode:$storeZipCode, rating:$rating}) """
    for each in range(len(data)):
        
        session.run(cqlCreate,number = each+1, Id = str(data.product_id[each]), name = str(data.product_name[each]), productDescription = str(data.product_description[each]), productCurrentPrice = str(data.product_currentprice[each]), productDiscount = str(data.product_discount[each]), productActualPrice = str(data.product_actualprice[each]), productCategory = str(data.product_category[each]), productManufacturer = str(data.product_manufacturer[each]), productInventory = str(data.inventory[each]), storeZipCode = str(data.store_zipcode[each]), rating = str(data.rating[each]))

     product_id            product_name     product_description  \
0             1      Sunflower Seed Raw           Carroway Seed
1             2           Sauce - Salsa  Lamb - Sausage Casings
2             4       Motts Apple Juice             Fresh Juice
3             5  Trout - Rainbow, Fresh    Sun - Dried Tomatoes
4             6             Lamb - Rack       Compound - Orange
..          ...                     ...                     ...
137         141      Seventh Generation         Kitchen Cleaner
138         142                Oxiclean  Washingmachine Cleaner
139         143            Simple Green      Industrial Cleaner
140         144                  Windex          Window Cleaner
141         146      Sunflower Seed Raw           Carroway Seed

     product_currentprice  product_discount  product_actualprice  \
0                  242.47                 9                  442
1                   96.20                 2                  486
2                  151.89                 9                  282
3                  264.25                 9                  438
4                  103.54                 1                  314
..                    ...               ...                  ...
137                 70.00                10                   63
138                 12.00                 0                   12
139                 10.00                 0                   10
140                  5.00                 5                    5
141                241.47                 9                  441

    product_category             product_image      product_manufacturer  \
0               food         images/food/1.png          Aufderhar-Schoen
1               food         images/food/2.jpg           Durgan and Sons
2               food         images/food/4.jpg               D'Amore LLC
3               food         images/food/5.jpg          Treutel-Baumbach
4               food        images/food/6.webp              Braun-Hansen
..               ...                       ...                       ...
137        household  /images/household/26.jpg              Welch-Sporer
138        household  /images/household/27.jpg               Hills-Sauer
139        household  /images/household/28.jpg              Mante-Spinka
140        household  /images/household/29.jpg  Pagac, Walsh and Friesen
141             food         images/food/1.png          Aufderhar-Schoen

     inventory  store_zipcode  rating
0           73          60601       5
1            9          41687       5
2           85          60235       5
3           53          85236       5
4           56          49652       5
..         ...            ...     ...
137         40          75632       5
138         77          15489       5
139         23          95478       5
140         77          84268       5
141         73          60616       5

[142 rows x 12 columns]

In [68]:
# Creating Customer nodes

data = pd.read_csv("C:\\Users\\ms811\\Desktop\\groceryhub\\login.csv", encoding="ISO-8859-1")

data_category_range = data['user'].unique()
data_category_range = data_category_range.tolist()

for i,value in enumerate(data_category_range):
    data[data['user'] == value].to_csv(r'user_'+str(value)+r'.csv',index = False, na_rep = 'N/A')
print(data)

with driver.session() as session:
    deleteCustomers = """ MATCH (n:Customer) DETACH  DELETE n """
    session.run(deleteCustomers)
    cqlCreate = """ CREATE (c1:Customer { name: $name, zip: $zipcode, email: $email }) """
    for each in range(len(data)):
        session.run(cqlCreate, number = each+1,name = str(data.user[each]), zipcode = str(data.zipcode[each]), email = str(data.email[each]))

                  user pass      usertype  zipcode              email
0                    q    q      Customer    60616                  q
1                    p    p  StoreManager    60616                  p
2                    a    a      Customer    25478                  a
3     Sainath Macharla    s      Customer    60616   fjeoe@lfojls.com
4           Usain Bolt    u      Customer    78702    wsdth@fewaq.com
5          Colby White    c      Customer     2115    xsert@mkiut.com
6         Sharon Pinty    s      Customer    95101    mkiue@freyt.com
7      Olivia Virginia    o      Customer    23231    asloe@grewq.com
8        Patrick Llyod    p      Customer    19105    mherl@frmlp.com
9          Amanda Suly    a      Customer    62544    mufgr@podmc.com
10   George Washington    g      Customer    98274    mjuwq@nbfgr.com
11        Walter White    w      Customer    87104     shurt@laor.com
12        Gracy Staler    g      Customer    48219   orufnf@jfuek.com
13     Samantha Norman    s      Customer    48105  kfhrto@fhreye.com
14          Kurt Angle    k      Customer    29206   ugdye@lfdjrt.com
15       Jesse Pinkman    j      Customer    87104    jurbx@koenv.com
16         Colton Dorn    c      Customer    29606     micry@hfur.com
17      Michael Fisher    m      Customer     2122     mufhr@gher.com
18      Brandon Mayhew    b      Customer    87119    mcget@kghgl.com
19           Pink Rose    p      Customer    98052     jfyr@gkrei.com
20        Drape Husler    d      Customer    83735   jfyrg@fjfgif.com
21            Bam Vibu    b      Customer    95532    ufhfk@lckfj.com
22        Caesar North    c      Customer    60654   mcuiey@hxsga.com
23  Giancarlo Esposito    g      Customer    94122   logfhr@tapof.com
24          Juan Carlo    j      Customer    36879    akity@hteuw.com
25           Don Pablo    d      Customer    83725  hfyurh@lcoerj.com
26          John Smith    j      Customer    10471   yroldh@yakfo.com
27        Randy Wilson    r      Customer    32211  ufhrh@lkfdifk.com
28        Skinny Pette    s      Customer    32391   rwjdif@poadm.com
29         Dormig Fred    d      Customer    33629     pocmd@hwye.com
30         Lancer Ford    l      Customer    80219     ofhru@gkei.com
31     Lance Armstrong    l      Customer    82002   irtyfh@lkshs.com
32     Kristen Stewart    k      Customer    58505    igfmgh@hajd.com
33        Peter Parker    p      Customer    11375  lhhske@hasgej.com

In [71]:
data = pd.read_csv("C:\\Users\\ms811\\Desktop\\groceryhub\\customerorders.csv", encoding="ISO-8859-1")

In [92]:
# Making Relation between Customer and Products

data = pd.read_csv("C:\\Users\\ms811\\Desktop\\groceryhub\\customerorders.csv", encoding="ISO-8859-1")

data_category_range = data['userId'].unique()
data_category_range = data_category_range.tolist()


for i,value in enumerate(data_category_range):
    data[data['userId'] == value].to_csv(r'userId_'+str(value)+r'.csv',index = False, na_rep = 'N/A')
print(type(data.orderName))
 
# for i in 

with driver.session() as session:
    
    cqlCreate= """ MATCH (a:Customer), (b:Product) WHERE a.name = $buyername AND b.name = $productbought CREATE (a)-[r:BOUGHT {id:$id ,name:$name, email:$email, userAddress:$userAddress, creditcardno:$creditcardno, discount:$discount, orderid:$orderid, ordertime:$ordertime, shipdate: $shipdate, productname:$productname, categoryname:$categoryname, price:$price, storeid:$storeid, storeaddress:$storeaddress, zipcode:$zipcode, deliveredontime:$deliveredontime, transactionstatus:$transactionstatus, reviewrating:$reviewrating, username:$username}]->(b) RETURN r """    
    for each in range(len(data)):
        session.run(cqlCreate,buyername = str(data.customerName[each]),productbought = str(data.orderName[each]),id = str(data.userId[each]), name = str(data.customerName[each]), email = str(data.email[each]), userAddress = str(data.userAddress[each]), creditcardno = str(data.creditCardNo[each]), discount = str(data.discount[each]), orderid = str(data.orderId[each]), ordertime = str(data.orderTime[each]), shipdate = str(data.shippingDate[each]), productname= str(data.orderName[each]), categoryname = str(data.category[each]), price = str(data.orderPrice[each]), storeid = str(data.storeId[each]), storeaddress = str(data.storeAddress[each]), zipcode = str(data.zipcode[each]), deliveredontime = str(data.deliveredOnTime[each]), transactionstatus = str(data.transactionStatus[each]), reviewrating  = str(data.review[each]), username = str(data.username[each]))

<class 'pandas.core.series.Series'>

In [ ]:
#query 5

# MATCH (customer:Customer)-[transaction:BOUGHT]->(product)
# WHERE transaction.reviewrating = "1" and transaction.order_returned = "True"
# WITH customer, count(*) AS number_of_transactions, transaction
# WHERE number_of_transactions > 0
# WITH customer,number_of_transactions,transaction
# RETURN (customer.zip) AS zipcode ,count(number_of_transactions) as number_of_returned_orders ,transaction.categoryname as category

# query 3

# Get the top 3 customers that reported the maximum number of
# returned orders 
#
# MATCH (customer:Customer)-[transaction:BOUGHT]->(product)
# WHERE transaction.order_returned= "True"
# WITH customer, count(*) AS number_of_orders_returned
# ORDER BY number_of_orders_returned DESC LIMIT 3
# RETURN customer.name AS `Customer Name`, number_of_orders_returned

# query 4

# Get the number of disputed transactions for EVERY CUSTOMER that
# has more that one disputed transaction 
# 
# MATCH (customer:Customer)-[transaction:BOUGHT]->(product)
# WHERE transaction.transaction_status = "disapproved"
# WITH customer, count(*) AS number_of_disputed_transactions
# WHERE number_of_disputed_transactions > 1
# RETURN customer.name AS Customer, number_of_disputed_transactions



# query 2

# Get the number of disputed transactions and the list of customer
# names for these disputed transactions for Delivery Zip Code 
# 
# MATCH (customer:Customer)-[transaction:BOUGHT]->(product)
#                 WHERE transaction.transaction_status = "disapproved"
#                 WITH customer, product, transaction
#                 RETURN customer.zip AS `zipcode`, count(transaction) AS Count,
#                 collect(customer.name) AS Customers
#                 ORDER BY Count DESC 

#query 1

# MATCH (customer:Customer)-[transaction:BOUGHT]->(product)
# WHERE transaction.actualdate > transaction.shipdate
# WITH customer, count(*) AS number_of_late_delivery
# WHERE number_of_late_delivery > 0
# WITH customer,number_of_late_delivery
# RETURN (customer.zip) AS zipcode , count(number_of_late_delivery)

In [93]:
from pandas import DataFrame

print("Get the number of transactions that were NOT delivered on time for every Delivery Zip Code:")
print("")
with driver.session() as session:
    query1 = """MATCH (customer:Customer)-[transaction:BOUGHT]->(product)
                WHERE transaction.transaction_status = "Disputed"
                WITH customer, count(*) AS number_of_late_delivery
                WHERE number_of_late_delivery > 0
                WITH customer,number_of_late_delivery
                RETURN (customer.zip) AS zipcode , count(number_of_late_delivery) as number_of_late_delivery"""
    dtf_data = DataFrame([dict(_) for _ in session.run(query1)])
    print(dtf_data)

Get the number of transactions that were NOT delivered on time for every Delivery Zip Code:

Empty DataFrame
Columns: []
Index: []

In [58]:
print("Get the number of disputed transactions and the list of customer names for these disputed transactions for Delivery Zip Code: ")
print("")
with driver.session() as session:
    query2 = """MATCH (login:Customer)-[customerorders:BOUGHT]->(groceryhub)
                WHERE customerorders.transactionStatus = "Disputed"
                WITH login, groceryhub, customerorders
                RETURN login.user"""
    dtf_data = DataFrame([dict(_) for _ in session.run(query2)])
    print(dtf_data)

Get the number of disputed transactions and the list of customer names for these disputed transactions for Delivery Zip Code:

CypherSyntaxError: {code: Neo.ClientError.Statement.SyntaxError} {message: Type mismatch: expected Boolean but was Map (line 2, column 37 (offset: 97))
"                WHERE customerorders{transactionStatus: "Disputed"}"
                                     ^}

In [20]:
print("Get the number of disputed transactions for EVERY CUSTOMER that has more that one disputed transaction: ")
print("")
with driver.session() as session:
    query3 = """MATCH (customer:Customer)-[transaction:BOUGHT]->(product)
                WHERE transaction.transaction_status = "disapproved"
                WITH customer, count(*) AS number_of_disputed_transactions
                WHERE number_of_disputed_transactions > 1
                RETURN customer.name AS Customer, number_of_disputed_transactions"""
    dtf_data = DataFrame([dict(_) for _ in session.run(query3)])
    print(dtf_data)

Get the number of disputed transactions for EVERY CUSTOMER that has more that one disputed transaction:

  Customer  number_of_disputed_transactions
0   test16                                2

In [21]:
print("Get the top 3 customers that reported the maximum number of returned orders")
print("")
with driver.session() as session:
    query4 = """MATCH (customer:Customer)-[transaction:BOUGHT]->(product)
                WHERE transaction.order_returned= "True"
                WITH customer, count(*) AS number_of_orders_returned
                ORDER BY number_of_orders_returned DESC LIMIT 3
                RETURN customer.name AS `Customer Name`, number_of_orders_returned"""
    dtf_data = DataFrame([dict(_) for _ in session.run(query4)])
    print(dtf_data)

Get the top 3 customers that reported the maximum number of returned orders

  Customer Name  number_of_orders_returned
0         test9                          2
1         test3                          1
2         test2                          1

In [22]:
print("Get the number of returned orders and got review rating 1 for every product category in every Delivery Zip Code ")
print("")
with driver.session() as session:
    query5 = """MATCH (customer:Customer)-[transaction:BOUGHT]->(product)
                WHERE transaction.reviewrating = "1" and transaction.order_returned = "True"
                WITH customer, count(*) AS number_of_transactions, transaction
                WHERE number_of_transactions > 0
                WITH customer,number_of_transactions,transaction
                RETURN (customer.zip) AS zipcode ,count(number_of_transactions) as number_of_returned_orders ,transaction.categoryname as category"""
    dtf_data = DataFrame([dict(_) for _ in session.run(query5)])
    print(dtf_data)

Get the number of returned orders and got review rating 1 for every product category in every Delivery Zip Code

    zipcode  number_of_returned_orders        category
0   60616.0                          2  fitnesswatches
1    7890.0                          1       headphone
2   45678.0                          1    Smartwatches
3  349870.0                          1  fitnesswatches